#divModo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 3rem;
  background-color: transparent;
}

#divModo.dark {
  background-color: transparent;
}

.btnModo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
}

.btnModo:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.iconoModo {
  font-size: 2rem;
  color: white;
}
